@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
}
